asgiref==3.7.2
beautifulsoup4==4.12.3
certifi==2024.2.2
charset-normalizer==3.3.2
Cython==3.0.8
Django==5.0.2
django-cors-headers==4.3.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
et-xmlfile==1.1.0
idna==3.6
image-to-excel==1.0.3
img2table==1.2.11
llvmlite==0.42.0
numba==0.59.0
numpy==1.26.4
opencv-contrib-python==4.9.0.80
opencv-python==4.9.0.80
openpyxl==3.1.2
packaging==23.2
pandas==2.2.1
Pillow==9.5.0
polars==0.20.11
pyarrow==15.0.0
PyJWT==2.8.0
PyMuPDF==1.23.25
PyMuPDFb==1.23.22
pytesseract==0.3.10
python-dateutil==2.8.2
pytz==2024.1
PyYAML==6.0.1
requests==2.31.0
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
typeguard==2.13.3
tzdata==2024.1
urllib3==2.2.1
XlsxWriter==3.2.0
